html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body{
  /*background-image: linear-gradient(#08081a, #061627 70%, #061b27);*/
  background-image: linear-gradient(0deg, rgba(75,108,183,1) 0%, rgba(24,40,72,1) 50%);
}

p{
  font-family: Roboto, sans-serif;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    padding: 156px 0 100px;
}
  
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
header .container {
  position: relative;
  z-index: 2;
}
  
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

div {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
}

.navbar-overlay {
  margin-bottom: -14px; 
}

.form-line{
  border-right: 1px solid rgb(163, 214, 218);
}

.center-padding{
  padding-left:30px;
}

#About {
  margin-bottom: 20px;
}

#About h2{
  font-family: Poppins, sans-serif;
}
  
#About h4{
  font-weight: bold;
}

#About img{
  border-radius:1rem;
  box-shadow: black;
}


#Places{
  padding-top: 20px;
  padding-bottom: 20px;
}

#Places .card{
  border-radius:1rem;
  padding: 0px;
  border:0px;
}
#Places img{
  border-top-left-radius:1rem;
  border-top-right-radius:1rem;
  
  box-shadow: black;
}
#Places p{
  font-family:Roboto,sans-serif;
  font-size:15px;
}
#Places .row{
  padding:0px;
}
#Places .card-header{
  text-align:center;
  font-weight:bold;
  border-bottom-left-radius:1rem;
  border-bottom-right-radius:1rem;
  background-image:linear-gradient(#1a1a38, #061627);
}

#Places .descTravels{
  padding-left: 8rem;
  line-height: 20px;
}

#Projects .titleText{
  font-size: 5rem;
}

#Projects table{
  padding-top:0.5rem;
}

#Projects thead th{
  font-size:1.5rem;
  font-weight:bold;
}

#Contact a{
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size:1rem;
}

.contact-div{
  padding-top:0.25rem;
  padding-top:0.25rem;
}
#Contact p{
  margin-bottom:0px;
}

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://unsplash.com/photos/8mkQRqv1A4E/download?force=true&w=1920') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }